<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/movieWrapper.css">
    <link rel="stylesheet" href="/css/movieGenres.css">
    <link rel="stylesheet" href="/css/director/director.css">


    <title>Document</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="directorContainer">

      <div class="directorBio">
        <h3 class="minimal_text"><%= name %></h3>

        <div class="years">
          <h4 class="minimal_text"> <%= born %> </h4>
          <% if (deceased > 0) { %>
            <h4 class="minimal_text"> 
              <span>-</span>
              <%= deceased %>
            </h4> 
            <% } %>
          </div>

          <h4 class="minimal_text"> <%= country %> </h4>
      </div>
      <%- include("./partials/moviesList", { movies: movie_list }) %>
    </div>
  </body>
</html>
