<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/movie/movieWrapper.css">
  <link rel="stylesheet" href="/css/movieGenres.css">
  <title>Document</title>
</head>

<body>
  <%- include("./partials/nav") %>
  <div class="movieContainer">

    <section class="left_panel">
      <form class="textContent" id="editModeForm" action="/movie?id=<%= id %>" method="POST">

        <% [{ title }, { year }, { director_name }]?.forEach((obj) => { %>
        <% const [key, val] = Object.entries(obj)[0]; %>

        <% if (val) { %>
        <% const typeofVal = typeof val === "number" ? "number" : ""; %>

        <div class="edit-group" id="edit-group">

          <input type="<%= typeofVal %>" name="<%= key %>" class="editMovie minimal_text cleanInput<%= !editMode ? ' hidden' : '' %>" value="<%= val %>" <%= editMode ? '' : 'disabled' %> />

          <p class="editMovie minimal_text <%= editMode ? 'hidden' : '' %>">
            <%= val %>
          </p>

        </div>

        <% } %>
        <% }) %>

        <div class="genreWrapper">
          <%- include("./partials/movieGenres", { genre_list }) %>

          <% if (typeof editMode !== "undefined") { %>
          <div class="<%= !editMode ? 'hidden' : '' %>" id="toggleGenresContainer">
            <button class="toggleGenres" id="expand_genres_btn">
              <p>+</p>
            </button>

            <div class="allGenres">
              <% allGenres.forEach(({ name, id }, i) => { %>
              <button type="button" class="addGenreBtn" data-name="<%= name %>" data-id="<%= id %>">
                <%= name %>
              </button>
              <% }) %>
            </div>
          </div>
          <% } %>
        </div>

        <div class="a_container">
          <button type="button" id="editBtn" class="a_el minimal_link_style">EDIT</button>
          <button id="submitBtn" class="a_el minimal_link_style" type="submit" <%= !editMode ? "disabled" : "" %>>
            SUBMIT
          </button>
      </form>
    </section>


    <section class="movieWrapper">
      <img class="movieImage" src=<%= src %> alt="">
    </section>

  </div>


</body>

<script>
  const editButton = document.getElementById("editBtn");

  const container = document.querySelector(".movieContainer");
  const originalState = container.innerHTML;

  document.addEventListener("click", (e) => {
    if (e.target && e.target.id === "editBtn") {
      enterEditMode();
      toggleEditElements();
    }

    if (e.target && e.target.classList.contains("addGenreBtn")) {
      const {
        name,
        id
      } = e.target.dataset;

      addGenreToForm(name, id);
    }
  });


  const getUrl = () => {
    const pathString = window.location.pathname;
    const queryString = window.location.search;

    const urlParams = new URLSearchParams(queryString);
    const isEdit = urlParams.get("edit");
    const id = urlParams.get("id");

    return {
      pathString,
      queryString,
      urlParams,
      isEdit,
      id
    };
  }



  function enterEditMode() {
    const {
      pathString,
      queryString,
      urlParams,
      isEdit,
      id
    } = getUrl();


    // Disables edit-mode if user is already on edit-mode
    if (isEdit) {
      const prevUrl = pathString + `?id=${id}`;
      window.history.pushState({
        path: prevUrl
      }, "", prevUrl);


      container.innerHTML = originalState;
      toggleEditElements();
      return;
    };

    const newUrl = pathString + queryString + "&edit=true";
    window.history.pushState({
      path: newUrl
    }, "", newUrl);
  }

  // This function runs on-click, which means the boolean-values will be reversed
  const toggleEditElements = () => {
    const {
      isEdit
    } = getUrl();


    const toggleGenresContainer = document.getElementById("toggleGenresContainer");
    const submitBtn = document.getElementById("submitBtn");
    const inputs = document.querySelectorAll("#editModeForm > .editMovie");
    const genreButtons = document.querySelectorAll("#editModeForm > .genreWrapper > .genre");
    const editGroupChildren = document.querySelectorAll("#editModeForm > .edit-group > .editMovie");


    submitBtn.toggleAttribute("disabled", !isEdit);


    editGroupChildren.forEach((el) => {
      if (el.tagName === "INPUT") {
        el.toggleAttribute("disabled", !isEdit);
        el.classList.toggle("hidden", !isEdit);
      }

      if (el.tagName === "A" || el.tagName === "P") {
        el.classList.toggle("hidden", isEdit);
        el.classList.toggle("visible", !isEdit);
      }
    })


    inputs.forEach((el) => {
      el.toggleAttribute("disabled", !isEdit);
      el.classList.toggle("editable", isEdit);
    });

    genreButtons.forEach((el) => {
      el.toggleAttribute("disabled", !isEdit);
      el.classList.toggle("canEdit", isEdit);
    })


    toggleGenresContainer.classList.toggle("hidden", !isEdit);
  }


  const addGenreToForm = (name, id) => {
    const genre_list_container = container.querySelector(".genre_list_container");
    console.log(genre_list_container)
    const doesExist = genre_list_container.querySelector(`input[value="${id}"]`);

    if (doesExist) {
      const parent = doesExist.parentElement;
      parent.remove();
      return;
    }

    const wrapper = document.createElement("div");
    // Used to identify new containers. If user now clicks edit again, it should return to previous values; we identify them by using this class
    wrapper.className += "new_id";

    const label = document.createElement("label");
    label.className = "minimal_text cleanInput genre_label genre";
    label.textContent = name;
    label.name = name;
    label.for = "genre_" + id;

    const input = document.createElement("input");
    input.type = "hidden";
    input.name = "filtered_genres";
    input.value = id;
    input.id = "genre_" + id;

    wrapper.appendChild(label);
    wrapper.appendChild(input);
    genre_list_container.appendChild(wrapper);
  }
</script>

</html>