<div class="genreWrapper">
  <div class="genre_list_container">
    <% genre_list.forEach(({ id, name }, index) => { %>

    <div>
      <label for="genre_<%= id %>" type="button" name="<%= id %>" value="<%= name %>" class="minimal_text cleanInput genre_label genre">
        <%= name %>
      </label>
      <input id="genre_<%= id %>" class="hiddenInput" name="filtered_genres" value="<%= id %>" hidden>
    </div>

    <% }) %>
  </div>


  <% if (typeof editMode !== "undefined") { %>
  <div class="toggleGenresContainer" id="toggleGenresContainer">
    <button class="toggleGenres <%= !editMode ? 'hidden' : '' %>" id="expand_genres_btn">
      <p>+</p>
    </button>

    <div class="allGenres">
      <% allGenres.forEach(({ name, id }, i) => { %>
      <button type="button" class="addGenreBtn" data-name="<%= name %>" data-id="<%= id %>">
        <%= name %>
      </button>
      <% }) %>
    </div>
  </div>

  <script>
    {
      const container = document.currentScript.parentElement;
      const toggleBtn = container.querySelector(".toggleGenres");
      const genre_list_container = container.querySelector(".genre_list_container");
      const toggleGenresContainer = container.querySelector(".toggleGenresContainer");

      const addGenreBtns = container.querySelectorAll(".addGenreBtn");

      const addGenreToForm = (name, id) => {
        const doesExist = genre_list_container.querySelector(`input[value="${id}"]`);

        if (doesExist) {
          const parent = doesExist.parentElement;
          parent.remove();
          return;
        }

        const wrapper = document.createElement("div");

        const label = document.createElement("label");
        label.className = "minimal_text cleanInput genre_label genre";
        label.textContent = name;
        label.name = name;
        label.for = "genre_" + id;

        const input = document.createElement("input");
        input.type = "hidden";
        input.name = "filtered_genres";
        input.value = id;
        input.id = "genre_" + id;

        wrapper.appendChild(label);
        wrapper.appendChild(input);
        genre_list_container.appendChild(wrapper);
      }

      // Displays list of genres that user can add
      toggleBtn.addEventListener("click", (e) => {
        e.preventDefault();
        console.log("Toggle genres")
      });

      toggleGenresContainer.addEventListener("click", (event) => {
        const genreBtn = event.target.closest(".addGenreBtn");

        if (genreBtn) {
          const {
            name,
            id
          } = genreBtn.dataset;

          addGenreToForm(name, id)
        }
      })
    }
  </script>
  <% } %>
</div>